
 h1{

  font-family: verdana;
  color:black;
}

 h2{
  font-family: verdana;
  color:black;
}

p{
 font-family: verdana;
}


html {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsUVh28H4RcOFrN2dLlPcQubEFZIkCgY7mZ1khLy5g1vk5MC9M) no-repeat center fixed; 
    background-size: cover;
}
