
 h1{

  font-family: lucida console;
  color:black;
}

 h2{
  font-family: lucida console;
  color:black;
}

p{
 font-family: lucida console;
}

body {
    background-color: #4dffa6;
}

img {
    border-radius: 8px;
}
